<section id="header">
	<div class="content-wrapper">
		<span id="logo-text-light">Ramanujan</span><span id="logo-text-bold">CentralLibrary</span>
		{{#if user}}
		<div id="header-username">
			Welcome &nbsp;<span style="font-weight: bold">
			{{#if user.fullname}}
			{{user.fullname }}
			{{else}}
			Someone
			{{/if}}
			</span> (<a href="/logout">logout</a>)
		</div>
		{{/if}}
	</div>
</section>
	{{#if error}}
		<span id="overhead-msg"><span style="color: red">{{error}}</span><span id="overhead-msg-close">X</span></span>
	{{/if}}
	{{#if success}}
		<span id="overhead-msg"><span style="color: red">{{success}}</span><span id="overhead-msg-close">X</span></span>
	{{/if}}
<div class="main-content">
	<div class="content-wrapper">
		{{#if user.isadmin}}
		<div class="admin-panel">
			<h2>Actions: </h2>
			<a href="/admin/issue">Issue books</a>
			<a href='/admin/books'>Manage books</a><br/>
			<a href='/admin/users'>Manag Users</a></br>
			<a href='/admin/requests'>View Book requests</a></br>
		</div>
		{{else}}
			<p style="color: red; font-size: 1.3em; font-weight: lighter; text-align: center; margin: 0; padding-top: 100px"><a href="/logout">Logout</a> and login as admin user.</p>
		{{/if}}	
	</div>
</div>