{{#if message}}
	<span id="overhead-msg">{{message}} <span id="overhead-msg-close">X</span></span>
{{/if}}

<section id="header">
	<div class="content-wrapper">
		<span id="logo-text-light">Ramanujan</span><span id="logo-text-bold">CentralLibrary</span>
		{{#if user}}
		<div id="header-username">
			Welcome &nbsp;<span style="font-weight: bold">
			{{#if user.fullname}}
			{{user.fullname }}
			{{else}}
			Someone
			{{/if}}
			</span> (<a href="/logout">logout</a>)
		</div>
		{{else}}
			<form role='form' action="/login" method="post" id="header-login">
			    <input type='text' name="email" placeholder='Email address'/>
			    <input type='password' name="password" placeholder='Password'/>
			    <button type='submit'> Log In</button>
			    <br/>
			    <a href='/forgot'>Forgot password?</a>
			</form>
		{{/if}}
	</div>
</section>
	{{#if user}}
		<section class="main-content">
			//dashboard
		</section>
	{{else}}
		<section class="home-signup-container">
			<div class="content-wrapper">
				<div class="home-loggedout-lc">
					<div class="home-quote">
						A room without books is like a body without a soul.
					</div>
					<form role='form' action="/find" method="post" class="home-search-loggedout">
					    <input type='text' name="query" placeholder='Enter the book title'/>
						<select name="field">
						  <option value="author">Author</option> 
						  <option value="title" selected>Title</option>
						  <option value="isbn">ISBN</option>
						</select>
					    <button type='submit'> Search</button>
					</form>
				</div>
				<div class="home-loggedout-rc">
					<form role='form' action="/signup" method="post" class='home-signup'>
						<p>Don't have an account? Sign in here.</p>
						<input type='text' name="fullname" placeholder='Name'/>
						<input type='text' name="email" placeholder='Email'/>
						<input type='password' name="password" placeholder='Password'/>
						<input type='password' name="retype" placeholder='Retype Password'/>
						<button type='submit'> Sign Up!</button>
					</form>
				</div>
			</div>
		</section>
	{{/if}}	

<section class="footer"></section>